openapi: 3.0.4
info:
  title: Pearch.AI API
  description: "Pearch.AI API. You need to pass API key as 'Authorization: Bearer <API_KEY>' header."
  version: "2.0"

x-readme:
  explorer-enabled: true
  samples-languages: ["shell"]
  proxy-enabled: false

servers:
  - url: https://api.pearch.ai/
    description: Main server

paths:
  /v2/search: 
    post:
      operationId: post_v2-search
      summary: Search people profiles
      tags:
        - Search
      description: |        
        
        - Test this endpoint in the [playground](https://chat.pearch.ai/api-search/new)
        - Check out official [Python client](https://github.com/Pearch-ai/pearch-client)        
        
        Run a search query. This accepts a natural language query as `query` parameter along with additional settings. It returns a list of profiles that match the query and orders them by relevance.
        The query can be a simple search query like "software engineer from Ohio" or a more complex query like "Find me engineers in California speaking at least basic english working in software industry with experience at FAANG with 2+ years of experience and at least 500 followers and at least BS degree".
        Use parameters to control tradeoffs between speed and quality. Here are some recipes:        
        - For highest quality results (30-180 seconds) use pro search with insights and profile scoring enabled: `{"query": "<YOUR QUERY HERE>", "type": "pro", "insights": true, "profile_scoring": true}`
        - For medium to high quality results use "fast" search (<30s). `{"query": "<YOUR QUERY HERE>", "type": "fast", "insights": true, "profile_scoring": true}`
        - If you want to implement pagination, pass the `thread_id` of the previous request to the next request with increased `limit`. 

        Check out other parameters below to adjust speed vs quality and additional data that can be returned by the endpoint. 

        **Cost: (number of profiles returned) × (sum of credits for each of `type`, `insights`, `profile_scoring`, `high_freshness`, `reveal_emails`, `reveal_phones`)**

      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: The human readable search query string. The query can be a simple search query like "software engineer from Ohio" or a more complex query like "Find me engineers in California speaking at least basic english working in software industry with experience at FAANG with 2+ years of experience and at least 500 followers and at least BS degree". Query parameter can handle full job descriptions, but passing specific subset of important requirements normally works better
                  example: "Software engineer with Python experience from Florida who is interested in science"
                  default: "Software engineer with Python experience from Florida who is interested in science"
                thread_id:
                  type: string
                  description: "Unique identifier for the thread. This is returned by every `/v2/search` call and is used to run follow-up queries on the same thread. There are now two alternative ways to call with `thread_id`: (1) with an increased `limit` and an empty or omitted `query`, to request more results (in this case results are appended, and you are only charged for additional, new results) or (2) with a new `query` to perform a follow-up conversational search; in this case, the new query should only specify additional requirements or changes as in a natural conversation, and the results are replaced instead of appended. Running a search with the same `thread_id` and same `limit` as the previous request will return the same results as before without incurring additional charges."
                  example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                type:
                  type: string
                  enum: [fast, pro]
                  default: "pro"
                  description: |
                    The type of search to perform. 
                    * "pro" is slower and more costly, but has higher quality and recall. **Cost: 5 credits per candidate**
                    * "fast" is faster but may have less recall. **Cost: 1 credit per candidate**
                insights:
                  type: boolean
                  default: true
                  description: 'Enable detailed insights and analysis for search results. This includes scores for each of query requirements along with quotes from profiles that match subqueries. Check out `insights` output fields for details. This may be helpful if you share search results with users and want to provide deeper explanations of why profiles are relevant. If your product only needs highly relevant profiles without explanations, use `{"insights": false, "profile_scoring": true}` **Cost: 1 credit per candidate**'
                high_freshness:
                  type: boolean
                  default: false
                  description: "Enable real-time profile updates for fresher data. This downloads the most recent copies of profiles directly from source websites in realtime (e.g. Linkedin). Scraped results are cached for up to 24 hours. If you are ok with profiles that may be a few months outdated, and want to save ~30 seconds, turn off high_freshness. **Cost: 2 credits per candidate**"
                profile_scoring:
                  type: boolean
                  default: true
                  description: "Enable profile scoring and reranking for better result quality. This filters out less relevant profiles and produces scores for more relevant once. Scores range from 0.0 to 4.0 where higher is better. **Cost: 1 credit per candidate**" 
                custom_filters:
                  $ref: '#/components/schemas/CustomFilters'
                custom_filters_mode:
                  type: string
                  enum: [exact, smart]
                  description: "Mode for handling custom filters. 'exact' - only use the passed custom_filters, no LLM-generated filters. 'smart' - merge custom_filters with LLM-generated filters."
                strict_filters:
                  type: boolean
                  default: false
                  description: Be stricter when filtering. If true, titles must match exactly after expanding abbreviations (e.g., "CEO" → "Chief Executive Officer") or translating (e.g., "Ingeniero de software" → "Software Engineer"). If false, fuzzy matching is also used. All other filters are always applied strictly. Enabling strict_filters improves quality but can greatly reduce the number of results. This setting only affects Pearch's implicit filtering. Custom filters are not affected and are always applied strictly.
                filter_out_no_emails:
                  type: boolean
                  default: false
                  description: "Only return profiles with at least one email address. Profiles will have additional `has_email` field set to true. **Cost: 1 credit per candidate**. Deprecated name: `require_emails`"
                reveal_emails:
                  type: boolean
                  default: false
                  description: "Include email addresses in search results if available. This returns all available emails including personal and work emails. **Cost: 2 credits per candidate, only charged if the candidate has at least one email address**. Deprecated name: `show_emails`"
                filter_out_no_phones:
                  type: boolean
                  default: false
                  description: "Only return profiles with at least one phone number. Profiles will have additional `has_phone_numbers` field set to true. **Cost: 1 credit per candidate**. Deprecated name: `require_phone_numbers`"
                filter_out_no_phones_or_emails:
                  type: boolean
                  default: false
                  description: "Only return profiles with at least one phone number OR at least one email address. Useful when you need contact information but either email or phone is acceptable. **Cost: 1 credit per candidate**. Deprecated name: `require_phones_or_emails`"
                reveal_phones:
                  type: boolean
                  default: false
                  description: "Include phone numbers in search results if available. This returns all available phone numbers including personal and work numbers. **Cost: 14 credits per candidate, only charged if the candidate has at least one phone number**. Deprecated name: `show_phone_numbers`"
                limit:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 10
                  description: The maximum number of search results to return.
                offset:
                  type: integer
                  minimum: 0
                  default: 0
                  description: The number of search results to skip before returning results. Used for pagination in combination with limit.
                docid_blacklist:
                  type: array
                  items:
                    type: string
                  description: List of profile docids to exclude from search results. Use this to filter out profiles that have already been seen or contacted.
                  example: ["johndoe", "janedoe"]
                docid_whitelist:
                  type: array
                  items:
                    type: string
                  description: List of profile docids to limit search results to. Only profiles with these docids will be returned.
                  example: ["johndoe", "janedoe"]
                async:
                  type: boolean
                  default: false
                  description: If true, the search will be processed asynchronously. The endpoint will return immediately with thread ID that can be used to check the status and retrieve results when ready.
              required:
                - query
      responses:
        "200":
          description: Search completed and results returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Unique identifier for the query (thread ID).
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  thread_id:
                    type: string
                    description: Unique identifier for the thread. This is used to run follow up queries on the same thread.
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  query:
                    type: string
                    description: The search query submitted by the user.
                    example: "software engineer from Ohio"
                  user:
                    type: string
                    description: Email address of the user who made the query.
                    example: "dev@dev.co"
                  created_at:
                    type: number
                    format: float
                    description: Timestamp (UNIX epoch) when the query was created.
                    example: 1744446727.123
                  duration:
                    type: number
                    format: float
                    description: Time taken to complete the search in seconds.
                    example: 2.45
                  status:
                    type: string
                    description: The current status of the query.
                    example: "Done"
                  total_estimate:
                    type: integer
                    description: The estimated total number of search results available.
                    example: 1000
                  total_estimate_is_lower_bound:
                    type: boolean
                    description: Indicates whether the total_estimate is a lower bound. If true, there may be more results available than the estimate suggests.
                    example: false
                  credits_remaining:
                    type: integer
                    description: Number of credits remaining for the user.
                    example: 950
                  search_results:
                    type: array
                    description: List of search result objects matching the query.
                    items:
                      $ref: '#/components/schemas/ScoredProfile'
                  parameters:
                    type: object
                    description: All input parameters that were sent with the request.
                    additionalProperties: true
                    example:
                      query: "software engineer from Ohio"
                      type: "pro"
                      insights: true
                      limit: 10
        "401":
          description: Invalid API key
        "400":
          description: Invalid parameter values. JSON body contains the error message.

  /chat/completions:
    post:
      operationId: post_chat-completions
      summary: OpenAI-compatible chat completions (streaming search)
      tags:
        - Search
      x-readme:
        explorer-enabled: false
      description: |
        OpenAI-compatible chat completions endpoint that performs streaming search. 
        This endpoint accepts the standard OpenAI chat completions format and returns search results in a streaming format.
        
        The endpoint extracts the query from the last user message in the `messages` array and performs a search. 
        All search parameters are passed via the `extra_body` field.
        
        **Important**: This endpoint always returns a streaming response (SSE format), even when `stream=False` is specified.
        You should always use `stream=True` and process the response as a stream.
        
        The response format follows OpenAI's streaming chat completions format, making it compatible with OpenAI client libraries.
        
        **Example:**
        ```python
        from openai import OpenAI
        
        client = OpenAI(
            base_url="https://api.pearch.ai/",
            api_key="your-api-key"
        )
        
        stream = client.chat.completions.create(
            model="pearch",
            stream=True,
            messages=[{"role": "user", "content": "software engineers at Google with 10 years of experience"}],
            extra_body={
                "limit": 5,
                "type": "fast",
                "stream_profiles": "batch",
                "final_result": True
            }
        )
        
        for chunk in stream:
            if chunk.choices and len(chunk.choices) > 0:
                delta = chunk.choices[0].delta
                if delta and delta.content:
                    print(delta.content, end="", flush=True)
                if chunk.choices[0].finish_reason is not None:
                    print(f"\nFinished: {chunk.choices[0].finish_reason}")
        ```
        
        **Available Parameters in `extra_body`:**
        - `limit`: Maximum number of results (1-1000, default: 10)
        - `type`: Search type - "fast" (1 credit/candidate), or "pro" (5 credits/candidate)
        - `stream_profiles`: Control profile streaming - "none", "full", or "batch"
        - `profiles_batch_size`: Number of profiles per batch (default: 10)
        - `final_result`: Include full result in final chunk (default: true)
        - `id_source`: Source for completion ID in stream chunks - "uuid" or "thread_id" (default: "uuid")
        - `thread_id`: Thread ID for continuation
        - `uuid`: UUID from a previous API call to resolve thread_id
        - `insights`: Enable detailed insights (1 credit/candidate)
        - `high_freshness`: Enable real-time updates (2 credits/candidate)
        - `profile_scoring`: Enable profile scoring (1 credit/candidate)
        - `custom_filters`: Custom filters in JSON format for advanced filtering (see CustomFilters schema for all available fields including locations, languages, titles, industries, companies, universities, keywords, experience ranges, age ranges, follower counts, degrees, and more)
        - `strict_filters`: Be stricter when filtering (boolean, default: false)
        - `filter_out_no_emails`: Only return profiles with at least one email address (1 credit/candidate). Deprecated name: `require_emails`
        - `reveal_emails`: Include email addresses (2 credits/candidate, only if available). Deprecated name: `show_emails`
        - `filter_out_no_phones`: Only return profiles with at least one phone number (1 credit/candidate). Deprecated name: `require_phone_numbers`
        - `filter_out_no_phones_or_emails`: Only return profiles with at least one phone number OR email address (1 credit/candidate). Deprecated name: `require_phones_or_emails`
        - `reveal_phones`: Include phone numbers (14 credits/candidate, only if available). Deprecated name: `show_phone_numbers`
        - `docid_blacklist`: List of profile docids to exclude from search results
        - `docid_whitelist`: List of profile docids to limit search results to
        
        **Cost: (number of profiles returned) × (sum of credits for each of `type`, `insights`, `profile_scoring`, `high_freshness`, `reveal_emails`, `reveal_phones`)**
        
        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Model name (use "pearch" or any value)
                  example: "pearch"
                messages:
                  type: array
                  description: Array of message objects following OpenAI format
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [user, assistant, system]
                        description: Message role
                      content:
                        type: string
                        description: Message content. For user messages, this is the search query.
                  example:
                    - role: "user"
                      content: "software engineers at Google with 10 years of experience"
                  minItems: 1
                stream:
                  type: boolean
                  default: true
                  description: "Whether to stream the response. Note: endpoint always streams regardless of this value."
                extra_body:
                  type: object
                  description: Search parameters passed as extra body
                  properties:
                    limit:
                      type: integer
                      minimum: 1
                      maximum: 1000
                      default: 10
                      description: The maximum number of search results to return.
                    type:
                      type: string
                      enum: [fast, pro]
                      default: "pro"
                      description: |
                        The type of search to perform. 
                        * "pro" is slower and more costly, but has higher quality and recall. **Cost: 5 credits per candidate**
                        * "fast" is faster but may have less recall. **Cost: 1 credit per candidate**
                    stream_profiles:
                      type: string
                      enum: [none, full, batch]
                      default: null
                      description: |
                        Control how profiles are streamed:
                        * `"none"` or `null`: Don't stream profiles (default)
                        * `"full"`: Stream each profile as it's found
                        * `"batch"`: Stream profiles in batches
                    profiles_batch_size:
                      type: integer
                      minimum: 1
                      default: 10
                      description: Number of profiles per batch when `stream_profiles` is set to `"batch"`.
                    final_result:
                      type: boolean
                      default: true
                      description: Include full result in final chunk.
                    id_source:
                      type: string
                      enum: [uuid, thread_id]
                      default: "uuid"
                      description: Source for completion ID in stream chunks.
                    thread_id:
                      type: string
                      description: Thread ID for continuation.
                      example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                    uuid:
                      type: string
                      description: UUID from a previous API call to resolve thread_id.
                      example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                    insights:
                      type: boolean
                      default: true
                      description: 'Enable detailed insights and analysis. **Cost: 1 credit per candidate**'
                    high_freshness:
                      type: boolean
                      default: false
                      description: "Enable real-time profile updates. **Cost: 2 credits per candidate**"
                    profile_scoring:
                      type: boolean
                      default: true
                      description: "Enable profile scoring and reranking. **Cost: 1 credit per candidate**"
                    custom_filters:
                      $ref: '#/components/schemas/CustomFilters'
                    custom_filters_mode:
                      type: string
                      enum: [exact, smart]
                      description: "Mode for handling custom filters. 'exact' - only use the passed custom_filters, no LLM-generated filters. 'smart' - merge custom_filters with LLM-generated filters."
                    strict_filters:
                      type: boolean
                      default: false
                      description: Be stricter when filtering.
                    filter_out_no_emails:
                      type: boolean
                      default: false
                      description: "Only return profiles with at least one email address. **Cost: 1 credit per candidate**. Deprecated name: `require_emails`"
                    reveal_emails:
                      type: boolean
                      default: false
                      description: "Include email addresses in search results. **Cost: 2 credits per candidate, only charged if the candidate has at least one email address**. Deprecated name: `show_emails`"
                    filter_out_no_phones:
                      type: boolean
                      default: false
                      description: "Only return profiles with at least one phone number. **Cost: 1 credit per candidate**. Deprecated name: `require_phone_numbers`"
                    filter_out_no_phones_or_emails:
                      type: boolean
                      default: false
                      description: "Only return profiles with at least one phone number OR email address. **Cost: 1 credit per candidate**. Deprecated name: `require_phones_or_emails`"
                    reveal_phones:
                      type: boolean
                      default: false
                      description: "Include phone numbers in search results. **Cost: 14 credits per candidate, only charged if the candidate has at least one phone number**. Deprecated name: `show_phone_numbers`"
              required:
                - messages
      responses:
        "200":
          description: Streaming chat completions response (Server-Sent Events in OpenAI format)
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-Sent Events stream in OpenAI chat completions format containing:
                  - Content chunks (delta.content)
                  - Stage updates
                  - Profile updates (if stream_profiles enabled)
                  - Final chunk with finish_reason="stop" and optional summary/result
                  - [DONE] marker at the end
        "400":
          description: Invalid parameter values. JSON body contains the error message.
        "401":
          description: Invalid API key
        "404":
          description: Thread not found (when using thread_id or uuid)

  /v2/search_company_leads:
    post:
      operationId: post_v2-search-company-leads
      summary: Search companies and leads
      tags:
        - Search
      description: |
        
        - Test this endpoint in the [playground](https://chat.pearch.ai/api-leads-search/new)
        - Check out official [Python client](https://github.com/Pearch-ai/pearch-client)        
        
        Endpoint for finding companies and related leads within those companies. Primary use case is for B2B sales, but can also be used for headhunting/executive search. It uses natural language query and returns a list of most relevant companies. Allows for generation of personalized outreach messages for the identified leads. Main difference with [/v2/search](/reference/post_v2-search) is that the search starts with shortlisting relevant companies first, then finding leads who necessarily activaly work at these companies.
        Some recipes:
        - When you only need companies, pass only the company query: `{"company_query": "manufacturers of aviation parts"}`
        - When you need companies and leads, pass both company and lead queries. Note that the lead query shouldn't include company requirements: `{"company_query": "manufacturers of aviation parts", "lead_query": "CTOs and engineering managers"}`
        - When you want to generate personalized outreach messages for the identified leads, pass the outreach message instruction: `{"company_query": "manufacturers of aviation parts", "lead_query": "CTOs and engineering managers", "outreach_message_instruction": "Suggest buying my (Rob) SaaS recruitment product <300 characters, email style, casual, personal touch"}`
        - if you don't have good intuition about leads to target, use a very broad lead query like `{..., "lead_query": "people who I can contact regarding partnerships or any c-level (CEO CFO COO CTO CIO CMO CHRO CPO CLO CSO) /founder/director/owner roles"}`
        
        **Cost: (number of companies returned) × (5 + `company_high_freshness` if enabled) + (number of leads returned) × (2 + sum of credits for `outreach_message_instruction`, `reveal_emails`, `reveal_phones`, `filter_out_no_emails`, `filter_out_no_phones`, `high_freshness`)** 

        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_query:
                  type: string
                  description: "The search query for finding companies. **Cost: 5 credits per company**"
                  example: "AI startups in San Francisco with 50-200 employees"
                  default: "AI startups in San Francisco with 50-200 employees"
                thread_id:
                  type: string
                  description: "Unique identifier for the thread. This is returned by every `/v2/search_company_leads` call and used to run follow up queries on the same thread. Pass `thread_id` to get more results. You are only charged for additional results, not for the initial request. Running search with `thread_id` and same `limit` as previous request will return the same results as the previous request without additional charges."
                  example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                lead_query:
                  type: string
                  description: 'Optional query for finding specific leads within the companies. Do not include company requirements in the lead query. if you don''t have good intuition about personas to target, use a very broad query like `{..., "lead_query": "people who I can contact regarding partnerships or any c-level (CEO CFO COO CTO CIO CMO CHRO CPO CLO CSO) /founder/director/owner roles"}` **Cost: 2 credits per lead**'
                  example: "CTOs and engineering managers"
                outreach_message_instruction:
                  type: string
                  description: "Optional instruction for generating personalized outreach messages. This uses LLM to generate a message for each lead. In addition to this instruction the LLM gets full lead's profile and company information as context. **Cost: 3 credits per lead**"
                  example: "Suggest buying my saas recruitment product <300 characters, email style, casual"
                limit:  
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 50
                  description: The maximum number of company results to return.
                leads_limit:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 3
                  description: The number of leads to find per company. 
                reveal_emails:
                  type: boolean
                  default: false
                  description: "Include email addresses in lead results if available. **Cost: 3 credits per lead**. Deprecated name: `show_emails`"
                reveal_phones:
                  type: boolean
                  default: false
                  description: "Include phone numbers in lead results if available. **Cost: 8 credits per lead**. Deprecated name: `show_phone_numbers`"
                filter_out_no_emails:
                  type: boolean
                  default: false
                  description: "Only return leads with at least one email address. Leads will have additional `has_email` field set to true. **Cost: 1 credit per candidate**. Deprecated name: `require_emails`"
                filter_out_no_phones:
                  type: boolean
                  default: false
                  description: "Only return leads with at least one phone number. Leads will have additional `has_phone_numbers` field set to true. **Cost: 1 credit per candidate**. Deprecated name: `require_phone_numbers`"
                high_freshness:
                  type: boolean
                  default: false
                  description: "Enable real-time profile updates for fresher lead data. This downloads the most recent copies of profiles directly from source websites in realtime (e.g. Linkedin). Scraped results are cached for up to 24 hours. If you are ok with profiles that may be a few months outdated, and want to save ~30 seconds, turn off high_freshness. **Cost: 1 credit per lead**"
                company_high_freshness:
                  type: boolean
                  default: false
                  description: "Enable real-time company data updates for fresher company information. This looks up companies on the internet in realtime to get the most current data. **Cost: 2 credits per company**"
              required:
                - company_query
      responses:
        "200":
          description: Company and lead search completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Unique identifier for this search request.
                    example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                  thread_id:
                    type: string
                    description: Thread identifier that can be used for follow-up searches.
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  query:
                    type: string
                    description: The complete search query that was processed.
                    example: "Find companies: ```AI startups in San Francisco```\nFind leads in these companies: ```CTOs and engineering managers```"
                  search_results:
                    type: array
                    description: List of company search results with associated leads.
                    items:
                      $ref: '#/components/schemas/CompanyLeadResult'
                  created_at:
                    type: number
                    format: float
                    description: Timestamp (UNIX epoch) when the query was created.
                    example: 1744446727.123
                  duration:
                    type: number
                    format: float
                    description: Time taken to complete the search in seconds.
                    example: 3.21
                  user:
                    type: string
                    description: Email address of the user who made the query.
                    example: "dev@dev.co"
                  status:
                    type: string
                    description: The current status of the query.
                    example: "Done"
                  total_estimate:
                    type: integer
                    description: The estimated total number of companies available.
                    example: 500
                  total_estimate_is_lower_bound:
                    type: boolean
                    description: Indicates whether the total_estimate is a lower bound. If true, there may be more companies available than the estimate suggests.
                    example: false
                  credits_remaining:
                    type: integer
                    description: Number of credits remaining for the user.
                    example: 950
                  parameters:
                    type: object
                    description: All input parameters that were sent with the request.
                    additionalProperties: true
                    example:
                      company_query: "AI startups in San Francisco"
                      lead_query: "CTOs and engineering managers"
                      limit: 50
                      leads_limit: 3
        "400":
          description: Invalid parameter values. JSON body contains the error message.
        "401":
          description: Invalid API key
        "502":
          description: Search Backend Error

  /v2/search/submit:
    post:
      operationId: post_v2-search-submit
      summary: Search people profiles (asynchronous)
      tags:
        - Search
      description: |
        Submit a search query to be processed asynchronously in the background. This endpoint returns immediately with a task ID and thread ID that can be used to check the status, retrieve results when ready, and paginate through search results.
        
        This is useful for long-running searches that may take several minutes to complete. The search will continue processing in the background while you can use the task ID to monitor progress and retrieve results. The thread ID can be used for pagination and follow-up searches by passing it in subsequent requests to either `/v2/search` or `/v2/search/submit`.
        
        All the same search parameters are supported as the synchronous `/v2/search` endpoint, including `thread_id` for continuation and pagination.

        **Cost: (number of profiles returned) × (sum of credits for each of `type`, `insights`, `profile_scoring`, `high_freshness`, `reveal_emails`, `reveal_phones`)**
        
        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: The human readable search query string. The query can be a simple search query like "software engineer from Ohio" or a more complex query like "Find me engineers in California speaking at least basic english working in software industry with experience at FAANG with 2+ years of experience and at least 500 followers and at least BS degree". Query parameter can handle full job descriptions, but passing specific subset of important requirements normally works better
                  example: "Software engineer with Python experience from Florida who is interested in science"
                  default: "Software engineer with Python experience from Florida who is interested in science"
                thread_id:
                  type: string
                  description: "Unique identifier for the thread. This is returned by every `/v2/search` and `/v2/search/submit` call and is used to run follow-up queries on the same thread. There are now two alternative ways to call with `thread_id`: (1) with an increased `limit` and an empty or omitted `query`, to request more results (in this case results are appended, and you are only charged for additional, new results) or (2) with a new `query` to perform a follow-up conversational search; in this case, the new query should only specify additional requirements or changes as in a natural conversation, and the results are replaced instead of appended. Running a search with the same `thread_id` and same `limit` as the previous request will return the same results as before without incurring additional charges."
                  example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                type:
                  type: string
                  enum: [fast, pro]
                  default: "pro"
                  description: |
                    The type of search to perform. 
                    * "pro" is slower and more costly, but has higher quality and recall. **Cost: 5 credits per candidate**
                    * "fast" is faster but may have less recall. **Cost: 1 credit per candidate**
                insights:
                  type: boolean
                  default: true
                  description: 'Enable detailed insights and analysis for search results. This includes scores for each of query requirements along with quotes from profiles that match subqueries. Check out `insights` output fields for details. This may be helpful if you share search results with users and want to provide deeper explanations of why profiles are relevant. If your product only needs highly relevant profiles without explanations, use `{"insights": false, "profile_scoring": true}` **Cost: 1 credit per candidate**'
                high_freshness:
                  type: boolean
                  default: false
                  description: "Enable real-time profile updates for fresher data. This downloads the most recent copies of profiles directly from source websites in realtime (e.g. Linkedin). Scraped results are cached for up to 24 hours. If you are ok with profiles that may be a few months outdated, and want to save ~30 seconds, turn off high_freshness. **Cost: 2 credits per candidate**"
                profile_scoring:
                  type: boolean
                  default: true
                  description: "Enable profile scoring and reranking for better result quality. This filters out less relevant profiles and produces scores for more relevant once. Scores range from 0.0 to 4.0 where higher is better. **Cost: 1 credit per candidate**" 
                custom_filters:
                  $ref: '#/components/schemas/CustomFilters'
                custom_filters_mode:
                  type: string
                  enum: [exact, smart]
                  description: "Mode for handling custom filters. 'exact' - only use the passed custom_filters, no LLM-generated filters. 'smart' - merge custom_filters with LLM-generated filters."
                strict_filters:
                  type: boolean
                  default: false
                  description: Be stricter when filtering. If true, titles must match exactly after expanding abbreviations (e.g., "CEO" → "Chief Executive Officer") or translating (e.g., "Ingeniero de software" → "Software Engineer"). If false, fuzzy matching is also used. All other filters are always applied strictly. Enabling strict_filters improves quality but can greatly reduce the number of results. This setting only affects Pearch's implicit filtering. Custom filters are not affected and are always applied strictly.
                filter_out_no_emails:
                  type: boolean
                  default: false
                  description: "Only return profiles with at least one email address. Profiles will have additional `has_email` field set to true. **Cost: 1 credit per candidate**. Deprecated name: `require_emails`"
                reveal_emails:
                  type: boolean
                  default: false
                  description: "Include email addresses in search results if available. This returns all available emails including personal and work emails. **Cost: 2 credits per candidate**. Deprecated name: `show_emails`"
                filter_out_no_phones:
                  type: boolean
                  default: false
                  description: "Only return profiles with at least one phone number. Profiles will have additional `has_phone_numbers` field set to true. **Cost: 1 credit per candidate**. Deprecated name: `require_phone_numbers`"
                filter_out_no_phones_or_emails:
                  type: boolean
                  default: false
                  description: "Only return profiles with at least one phone number OR at least one email address. Useful when you need contact information but either email or phone is acceptable. **Cost: 1 credit per candidate**. Deprecated name: `require_phones_or_emails`"
                reveal_phones:
                  type: boolean
                  default: false
                  description: "Include phone numbers in search results if available. This returns all available phone numbers including personal and work numbers. **Cost: 14 credits per candidate**. Deprecated name: `show_phone_numbers`"
                limit:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 10
                  description: The maximum number of search results to return.
                offset:
                  type: integer
                  minimum: 0
                  default: 0
                  description: The number of search results to skip before returning results. Used for pagination in combination with limit.
                docid_blacklist:
                  type: array
                  items:
                    type: string
                  description: List of profile docids to exclude from search results. Use this to filter out profiles that have already been seen or contacted.
                  example: ["johndoe", "janedoe"]
                docid_whitelist:
                  type: array
                  items:
                    type: string
                  description: List of profile docids to limit search results to. Only profiles with these docids will be returned.
                  example: ["johndoe", "janedoe"]
      responses:
        "202":
          description: Search task submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: Unique identifier for the submitted search task.
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  thread_id:
                    type: string
                    description: Thread ID for the search session, can be used for pagination and follow up searches using /v2/search or /v2/search/submit. If the search is still in progress, then running /v2/search,/v2/search/submit with this thread_id will return HTTP 202 status code. 
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  status:
                    type: string
                    description: The current status of the submitted task.
                    example: "pending"
                  message:
                    type: string
                    description: Human-readable message about the task submission.
                    example: "Search task submitted successfully"
        "400":
          description: Invalid parameter values. JSON body contains the error message.
        "401":
          description: Invalid API key

  /v2/search/status/{task_id}:
    get:
      operationId: get_v2-search-status
      summary: Get the status of asynchronous search task
      tags:
        - Search
      description: |
        Check the current status of a search task that was submitted via `/v2/search/submit`. This endpoint returns the current status and, if completed, the search results.
        
        The task status can be one of:
        - `pending`: Task is queued but not yet started
        - `running`: Task is currently being processed
        - `completed`: Task has finished successfully and results are available
        - `failed`: Task failed and error details are provided

        **Cost: 0 credits**
        
        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: The task ID returned from the `/v2/search/submit` endpoint.
          example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
      responses:
        "200":
          description: Task status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: The task ID that was queried.
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  status:
                    type: string
                    description: The current status of the task.
                    example: "completed"
                  created_at:
                    type: string
                    description: ISO 8601 timestamp when the task was created.
                    example: "2024-01-15T10:30:00Z"
                  query:
                    type: string
                    description: The search query that was submitted for this task.
                    example: "software engineer with Python experience from Florida"
                  result:
                    type: object
                    description: The search results if the task is completed. Contains the same structure as the `/v2/search` endpoint response.
                    additionalProperties: true
                  duration:
                    type: number
                    format: float
                    description: Time taken to complete the search in seconds (only present when completed).
                    example: 45.2
                  error:
                    type: string
                    description: Error message if the task failed (only present when status is "failed").
                    example: "Search backend service unavailable"
                  started_at:
                    type: string
                    description: ISO 8601 timestamp when the task started running (only present when status is "running").
                    example: "2024-01-15T10:30:05Z"
        "404":
          description: Task not found
        "401":
          description: Invalid API key
        "500":
          description: Database error

  /v1/search:                      
    get:
      operationId: get_v1-search
      summary: Search people profiles (deprecated)
      deprecated: true
      tags:
        - Search
      description: |
        **Deprecated!** Don't use this endpoint. Use [/v2/search](/reference/post_v2-search) instead!

        Run a search query. Parameter are accepted both as query parameters with GET request and as JSON body with POST request.

        **Cost: 1 credits per candidate if `type='fast'`, 7 credits per candidate if `type='pro'` + 2 credits per candidate if `filter_out_no_emails` is true**


        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: The search query string to be processed. Provide either query or uuid.
          example: "Software engineer with Python experience from Florida who is interested in science"
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [fast, pro]
          description: The type of search to perform. 'fast' for quicker but less comprehensive results, 'pro' for more thorough analysis.
          example: "fast"
        - name: filter_out_no_emails
          in: query
          required: false
          schema:
            type: boolean
          description: "Whether to require search results to have at least one email address (but don't necessarily return them). Deprecated name: `require_emails`"
          example: false
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: The maximum number of search results to return.
          example: 10

      responses:
        "200":
          description: Query accepted and status returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Unique identifier for the query.
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  query:
                    type: string
                    description: The search query submitted by the user.
                    example: "software engineer from Ohio"
                  user:
                    type: string
                    description: Email address of the user who made the query.
                    example: "dev@dev.co"
                  created_at:
                    type: integer
                    description: Timestamp (UNIX epoch) when the query was created.
                    example: 1744446727
                  status:
                    type: string
                    description: The current status of the query.
                    example: "Done"
                  total_results:
                    type: integer
                    description: The total number of search results returned.
                    example: 1
                  progress:
                    type: number
                    format: float
                    description: Progress of the query processing
                    example: 0.6
                  execution_details:
                    type: array
                    description: Detailed execution steps of the query
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: Status of a specific execution step
                          example: "Started"
                        timestamp:
                          type: integer
                          description: Timestamp of when the execution step occurred
                          example: 1672531199
                  search_results:
                    type: array
                    description: List of search result objects matching the query.
                    items:
                      $ref: '#/components/schemas/ScoredProfile'


        "401":
          description: Invalid API key
        "400":
          description: Invalid parameter values. JSON body contains the error message.


  /v1/upsert_jobs:
    post:
      operationId: post_v1-upsert-jobs
      summary: Index jobs
      tags:
        - Jobs
      description: |
        Accepts a JSON array of job objects, each with `job_id` and `job_description` fields, and adds them to a custom index. Each account can have a single custom index only. 
        This endpoint is used in conjunction with `/v1/find_matching_jobs` endpoint. 
        1. First you need to upsert jobs with [/v1/upsert_jobs](/reference/post_v1-upsert-jobs)
        2. Then you can use [/v1/find_matching_jobs](/reference/post_v1-find-matching-jobs) to find jobs relevant to a profile.        

        **Cost: 1 credit per job**

        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobs:
                  type: array
                  description: "List of job objects to be upserted. **Cost: 1 credit per job**"
                  items:
                    type: object
                    properties:
                      job_id:
                        type: string
                        description: Unique identifier for the job. This is used to match jobs in consecutive calls to /v1/upsert_jobs.
                        example: "job-1234"
                      job_description:
                        type: string
                        description: Free form description of the job. This can be full JD or a shorter description.
                        example: "Machine Learning Engineer for an AI startup with leadership skills"
                    required:
                      - job_id
                      - job_description
                replace:
                  type: boolean
                  description: |
                    * If `"replace"` is true, all existing jobs will be replaced with the provided list. This means for example that if a job with existing `job_id` "job-1234" already exists, but it is not provided in the request, then it will be removed from the index. 
                    * If `"replace"` is false or omitted, jobs are upserted (added or updated only).
                  example: false
              required:
                - jobs
      responses:
        "200":
          description: Jobs accepted and processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Unique identifier for the query.
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  status:
                    type: string
                    example: "success"
                  processed_count:
                    type: integer
                    example: 10
        "400":
          description: Invalid job data
        "401":
          description: Invalid API key

  /v1/find_matching_jobs:
    post:
      operationId: post_v1-find-matching-jobs
      summary: Find relevant jobs
      tags:
        - Jobs
      description: |
        Accepts a profile (arbitrary JSON), and returns a list of jobs relevant to the provided profile. 
        This endpoint is used in conjunction with `/v1/find_matching_jobs` endpoint. 
        1. First you need to upsert jobs with [/v1/upsert_jobs](/reference/post_v1-upsert-jobs)
        2. Then you can use [/v1/find_matching_jobs](/reference/post_v1-find-matching-jobs) to find jobs relevant to a profile.        

        **Cost: 1 credit per found job**

        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
                  description: Arbitrary JSON representing the candidate profile.
                  example:
                    id: "123"
                    name: "Jane Doe"
                    work_history:
                      - company: "Pure Storage"
                        position: "Product Manager"
                        start_date: "Mar 2024"
                        end_date: "Present"
                        description: ""
                    education_history:
                      - institution: "The School of Electrical and Computer Engineering of Applied Studies"
                        degree: "Bachelor of Applied Science - BASc"
                        field: "Information Technology"
                        start_year: "2020"
                        end_year: "2023"
                    skills:
                      - "Python"
                      - "Machine Learning"
                limit:
                  type: integer
                  description: Maximum number of jobs to return (1-100)
                  minimum: 1
                  maximum: 100
                  example: 10
      responses:
        "200":
          description: List of relevant jobs returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Unique identifier for the query.
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  jobs:
                    type: array
                    description: List of job objects relevant to the profile.
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                          description: Unique identifier for the job. This is the same as job_id passed to /v1/upsert_jobs.
                          example: "job-1234"
                        job_description:
                          type: string
                          description: Job description.
                          example: "Work on AI models for healthcare."
                        score:
                          type: number
                          format: float
                          description: Relevance score for the match (2.0..5.0). Higher is better. 
                          example: 2.92
                        insights:
                          type: object
                          description: Insights of how well the job matches the profile.
                          properties:
                            query_insights:
                              type: array
                              description: Insights broken down by subqueries.
                              items:
                                type: object
                                properties:
                                  match_level:
                                    type: string
                                    description: 'The degree to which the candidate matches the requirement: Exceeds Expectations,Meets Expectations,Partially Meets,Insufficient Data,Does Not Meet'
                                    example: "Exceeds Expectations"
                                  priority:
                                    type: string
                                    description: 'Indicates how important this subquery: Essential, Important, Optional'
                                    example: "Essential"
                                  short_rationale:
                                    type: string
                                    description: Concise version of the rationale.
                                    example: "3+ years as a software engineer"
                                  subquery:
                                    type: string
                                    description: Specific subquery analyzed for this insight.
                                    example: "software engineer"
                                  short_quotes:
                                    type: array
                                    description: Short quotes from the candidate's profile.
                                    items:
                                      type: string
                                      example: "I have 3+ years of experience in software development."                          
        "400":
          description: Invalid input data
        "401":
          description: Invalid API key

  /v1/list_jobs:
    get:
      operationId: get_v1-list-jobs
      summary: List jobs
      tags:
        - Jobs
      description: |
        Retrieve a list of all jobs currently indexed for the authenticated user. This endpoint returns job metadata including job IDs, descriptions, and creation timestamps.        
        The results are ordered by creation date (most recent first) and can be limited using the `limit` parameter.
        
        **Cost: 0 credits**

        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of jobs to return
          example: 50
      responses:
        "200":
          description: Jobs list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the operation
                    example: "success"
                  jobs:
                    type: array
                    description: List of job objects in the user's index
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                          description: Unique identifier for the job
                          example: "engineer-001"
                        job_description:
                          type: string
                          description: Job description text
                          example: "Senior Software Engineer for AI startup"
                        created_at:
                          type: string
                          format: date-time
                          description: ISO 8601 timestamp when job was created
                          example: "2024-01-15T10:30:45"
                  total_count:
                    type: integer
                    description: Total number of jobs in the user's index
                    example: 150
                  returned_count:
                    type: integer
                    description: Number of jobs returned in this response
                    example: 50
        "400":
          description: Invalid parameter values
        "401":
          description: Invalid API key

  /v1/delete_jobs:
    post:
      operationId: post_v1-delete-jobs
      summary: Delete jobs
      tags:
        - Jobs
      description: |
        Delete specific jobs from the user's job index by providing a list of job IDs. This operation permanently removes the specified jobs from your index.        

        **Cost: 0 credits**

        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_ids:
                  type: array
                  description: List of job IDs to delete
                  items:
                    type: string
                  example: ["job-001", "job-002", "old-position-123"]
                  minItems: 1
              required:
                - job_ids
      responses:
        "200":
          description: Jobs deletion completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the operation
                    example: "success"
                  deleted_count:
                    type: integer
                    description: Number of jobs actually deleted (may be less than requested if some job IDs don't exist)
                    example: 2
                  errors:
                    type: array
                    description: List of error messages if any occurred during deletion
                    items:
                      type: string
                    example: []
        "400":
          description: Invalid request data (e.g., empty job_ids list, invalid format)
        "401":
          description: Invalid API key

  /v1/api_call_history:
    get:
      operationId: v1-api-call-history
      summary: Get API call history
      tags:
        - Account
      description: |
        Retrieve the API call history for the authenticated user. Returns a list of previous API calls including their parameters, results, and metadata.
        
        This endpoint returns history for the following endpoints:
        - `/v1/search`
        - `/v2/search`
        - `/v2/search/submit`
        - `/v2/search_company_leads`

        **Cost: 0 credits**
        
        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 10
          description: The maximum number of API call history entries to return.
          example: 10
        - name: paths
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          description: List of API endpoint paths to filter the history by. If provided, only API calls to the specified paths will be returned.
          example: ["/v2/search", "/v2/search_company_leads"]
      responses:
        "200":
          description: API call history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_call_history:
                    type: array
                    description: List of API call history entries ordered by creation date (most recent first).
                    items:
                      $ref: '#/components/schemas/ApiCallHistoryEntry'
                  user:
                    type: string
                    description: Email address of the authenticated user.
                    example: "dev@dev.co"
                  total_credits_used:
                    type: integer
                    description: Total credits used across all returned API calls.
                    example: 150
        "400":
          description: Invalid parameter values. 
        "401":
          description: Invalid API key

  /v1/profile:
    get:
      operationId: get_v1-profile
      summary: Enrich profile
      tags:
        - Enrichment
      description: |

        - Test this endpoint in the [playground](https://chat.pearch.ai/api-enrichment)
        - Check out official [Python client](https://github.com/Pearch-ai/pearch-client)        
        
        Retrieve enriched user profile based on the provided Linkedin profile ID or email address as a query parameter. Linkedin profile ID is the part that comes after `https://www.linkedin.com/in/` in the profile URL.
        
        You can provide either `docid` (LinkedIn profile ID) or `email`. If only `email` is provided, the system will attempt to resolve it to a LinkedIn profile.

        **Cost: 1 credit + extra credits for each of `high_freshness`, `reveal_emails`, `reveal_phones` and `with_profile` parameters if enabled. Email lookup adds +1 credit.**
      security:
        - bearerAuth: []
      parameters:
        - name: docid
          in: query
          required: false
          schema:
            type: string
          description: The linkedin profile ID of the profile to retrieve. Linkedin profile ID is the part that comes after `https://www.linkedin.com/in/` in the profile URL. Either `docid` or `email` must be provided.
          example: "hrachik"
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
          description: "Email address to look up. If provided without `docid`, the system will resolve the email to a LinkedIn profile.  **Cost: +1 credit for email lookup**"
          example: "mz@pearch.ai"
        - name: high_freshness
          in: query
          required: false
          schema:
            type: boolean
          description: "Enable real-time profile updates for fresher data. This downloads the most recent copies of profiles directly from source websites in realtime (e.g. Linkedin). Scraped results are cached for up to 24 hours. If you are ok with profiles that may be a few months outdated, turn off high_freshness. **Cost: 2 credits**"
          example: false
        - name: reveal_emails
          in: query
          required: false
          schema:
            type: boolean
          description: "Include email addresses in the profile if available. **Cost: 2 credits, only charged if the profile has at least one email address**. Deprecated name: `show_emails`"
          example: false
        - name: reveal_phones
          in: query
          required: false
          schema:
            type: boolean
          description: "Include phone numbers in the profile if available. **Cost: 14 credits, only charged if the profile has at least one phone number**. Deprecated name: `show_phone_numbers`"
          example: false
        - name: with_profile
          in: query
          required: false
          schema:
            type: boolean
          description: "Include full profile data in the response. **Cost: 1 credit**"
          example: false
      responses:
        "200":
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Unique identifier for the query
                    example: "ec191bf9-99ff-4989-8383-c97c71fafb6d"
                  profile:
                    $ref: '#/components/schemas/Profile'
        "401":
          description: Invalid API key
        "404":
          description: Profile not found
        "400":
          description: Invalid parameter values or missing required parameters. At least one of `docid` or `email` must be provided. JSON body contains the error message.

  /v1/user:
    get:
      operationId: get_v1-user
      summary: Get account information
      tags:
        - Account
      description: |
        Retrieve information about the authenticated user including their account details, remaining credits, and current pricing configuration for different operations.
        
        This endpoint provides:
        - User account information (email, API key details)
        - Current credit balance
        - Pricing details for all available operations with descriptions

        **Cost: 0 credits**
        
        _Check out official [Python client](https://github.com/Pearch-ai/pearch-client)_
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    description: User account information
                    properties:
                      api_key:
                        type: string
                        description: User's API key
                        example: "pk_abc123"
                      email:
                        type: string
                        description: User's email address
                        example: "user@example.com"
                      sub_client:
                        type: object
                        description: Sub-client configuration object if applicable
                        additionalProperties: true
                  credits_remaining:
                    type: integer
                    description: Number of credits remaining for the user
                    example: 950
                  pricing:
                    type: array
                    description: List of pricing information for different operations
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier for the pricing item
                          example: "pro_search_cost"
                        credits:
                          type: number
                          description: Credit cost for this operation
                          example: 5
                        description:
                          type: string
                          description: Description of what this pricing item covers
                          example: "Cost per candidate for pro search"
        "401":
          description: Invalid API key

components:
  schemas:
    
    CustomFilters:
      type: object
      description: |
        Custom filters in JSON format for advanced filtering. Leave empty to use default filtering logic. 
        Format: `{"filter_name1": ["value1", "value2"], "filter_name2": ["value3", "value4"], ...}`. 
        
        Filtering logic: Conditions between different keys are joined with "AND", so all conditions must pass. Within each condition, we always use "OR". For example, `{"titles": ["swe", "mle"]}` means the profile must have either "swe" OR "mle" as a title. If you specify multiple keys like `{"titles": ["swe", "mle"], "locations": ["San Francisco"]}`, the profile must match at least one title (swe OR mle) AND be in San Francisco.
        
        Use any string values as is. Pearch.ai internally correctly matches them to profile data. E.g. you may pass `{"industries": "health"}` to filter for profiles in health industry, this will be correctly mapped to pearch.ai internal `healthcare` industry. 
        If you want to force no filtering at all (`custom_filters` or default filters), pass empty object `"custom_filters": {}`. This will speed up search, increase recall at some relevancy cost.
      properties:
        locations:
          type: array
          items:
            type: string
          description: Filter by location (e.g., "San Francisco", "New York", "California", "United States")
          example: ["San Francisco", "New York"]
        languages:
          type: array
          items:
            type: string
          description: Filter by languages spoken (e.g., "English", "Spanish", "French")
          example: ["English", "Spanish"]
        titles:
          type: array
          items:
            type: string
          description: Filter by job titles (e.g., "Software Engineer", "Data Scientist", "CEO")
          example: ["software engineer", "data scientist"]
        industries:
          type: array
          items:
            type: string
          description: Filter by industries (e.g., "health", "pharma", "technology", "finance")
          example: ["health", "pharma"]
        companies:
          type: array
          items:
            type: string
          description: Filter by company names (e.g., "Google", "Microsoft", "Amazon")
          example: ["Google", "Microsoft"]
        universities:
          type: array
          items:
            type: string
          description: Filter by universities attended (e.g., "Stanford University", "MIT", "Harvard")
          example: ["Stanford University", "MIT"]
        keywords:
          type: array
          items:
            type: string
          description: Filter by keywords in full profile description
          example: ["machine learning", "python", "leadership"]
        min_linkedin_followers:
          type: integer
          description: Minimum number of LinkedIn followers
          example: 500
        max_linkedin_followers:
          type: integer
          description: Maximum number of LinkedIn followers
          example: 10000
        min_total_experience_years:
          type: number
          description: Minimum total years of professional experience
          example: 5
        max_total_experience_years:
          type: number
          description: Maximum total years of professional experience
          example: 15
        min_estimated_age:
          type: number
          description: Minimum estimated age
          example: 25
        max_estimated_age:
          type: number
          description: Maximum estimated age
          example: 45
        studied_at_top_universities:
          type: boolean
          description: Filter for candidates who attended top-tier universities
          example: true
        first_name:
          type: string
          description: Filter by first name (exact match)
          example: "John"
        middle_name:
          type: string
          description: Filter by middle name (exact match)
          example: "Michael"
        last_name:
          type: string
          description: Filter by last name (exact match)
          example: "Smith"
        gender:
          type: string
          enum: [male, female]
          description: Filter by gender
          example: "male"
        has_startup_experience:
          type: boolean
          description: Filter for candidates who have worked at startups
          example: true
        has_saas_experience:
          type: boolean
          description: Filter for candidates who have worked at SaaS companies
          example: true
        has_b2b_experience:
          type: boolean
          description: Filter for candidates who have worked at B2B companies
          example: true
        has_b2c_experience:
          type: boolean
          description: Filter for candidates who have worked at B2C companies
          example: true
        min_current_experience_years:
          type: number
          description: Minimum years in current role
          example: 1
        max_current_experience_years:
          type: number
          description: Maximum years in current role
          example: 5
        degrees:
          type: array
          items:
            type: string
            enum: [bachelor, master, MBA, doctor, postdoc]
          description: Filter by degree types
          example: ["bachelor", "master"]
        specialization_categories:
          type: array
          items:
            type: string
            enum:
              - "Business & Management"
              - "Finance"
              - "Engineering"
              - "Computer Science & IT"
              - "Health & Medicine"
              - "Social Sciences"
              - "Natural Sciences"
              - "Mathematics"
              - "Education"
              - "Communication & Media"
              - "Arts, Design & Architecture"
              - "Humanities & Liberal Arts"
              - "Law & Criminal Justice"
          description: "Filter by specialization categories. Allowed values include: Business & Management, Finance, Engineering, Computer Science & IT, Health & Medicine, Social Sciences, Natural Sciences, Mathematics, Education, Communication & Media, Arts, Design & Architecture, Humanities & Liberal Arts, Law & Criminal Justice."
          example: ["Computer Science & IT", "Engineering"]
      additionalProperties: false
      example:
        industries: ["health", "pharma"]
        locations: ["San Francisco", "New York"]
        titles: ["software engineer", "data scientist"]
        min_total_experience_years: 5
        studied_at_top_universities: true
      
    Language:
      type: object
      description: Language with proficiency level
      properties:
        language:
          type: string
          description: Language name
          example: "English"
        proficiency:
          type: string
          description: "Proficiency level: A1, A2, B1, B2, C1, C2"
          enum: [A1, A2, B1, B2, C1, C2, unknown]
          example: "C1"
    
    FundingRound:
      type: object
      description: Information about a company's funding round
      properties:
        value_usd:
          type: integer
          description: Funding amount in USD
          example: 2000000
        date:
          type: string
          format: date
          description: Date of the funding round
          example: "2023-06-15"
        round_name:
          type: string
          description: Name of the funding round
          example: "Series A"
    
    CompanyInfo:
      type: object
      description: Comprehensive company information and metadata
      properties:
        name:
          type: string
          description: The name of the company
          example: "Dragoonitcn"
        domain:
          type: string
          description: Company's primary domain
          example: "dragoonitcn.com"
        website:
          type: string
          description: The official website of the company
          example: "http://www.dragoonitcn.com"
        linkedin_url:
          type: string
          description: The LinkedIn URL of the company
          example: "https://linkedin.com/company/dragoon-itcn"
        linkedin_slug:
          type: string
          description: LinkedIn slug identifier
          example: "dragoon-itcn"
        crunchbase_url:
          type: string
          description: The Crunchbase URL of the company
          example: "https://www.crunchbase.com/organization/dragoonitcn"
        social_urls:
          type: array
          description: List of social media URLs
          items:
            type: string
          example: ["https://twitter.com/dragoonitcn", "https://facebook.com/pages/Dragoonitcn/125328487521849"]
        emails:
          type: array
          description: List of company email addresses
          items:
            type: string
          example: ["contact@dragoonitcn.com", "sales@dragoonitcn.com"]
        phone_number:
          type: string
          description: Company phone number
          example: "+1-555-123-4567"
        phone_numbers:
          type: array
          description: List of company phone numbers
          items:
            type: string
          example: ["+1-555-123-4567", "+1-555-987-6543"]
        short_address:
          type: string
          description: Brief address information
          example: "Dayton, OH"
        locations:
          type: array
          description: List of company locations
          items:
            type: string
          example: ["Dayton, Ohio", "San Francisco, CA"]
        type:
          type: string
          description: Type of company
          example: "Private"
        description:
          type: string
          description: A brief description of the company's business
          example: "Targeting Complex Aerospace Issues with Precision Test Tools"
        industries:
          type: array
          description: The industries the company operates in
          items:
            type: string
            enum: ['Archiving Service', 'Call Center', 'Collection Agency', 'College Recruiting', 'Courier Service', 'Debt Collections', 'Delivery', 'Document Preparation', 'Employee Benefits', 'Extermination Service', 'Facilities Support Services', 'Housekeeping Service', 'Human Resources', 'Knowledge Management', 'Office Administration', 'Packaging Services', 'Physical Security', 'Project Management', 'Staffing Agency', 'Trade Shows', 'Virtual Workforce', 'Ad Exchange', 'Ad Network', 'Ad Retargeting', 'Ad Server', 'Ad Targeting', 'Advertising', 'Advertising Platforms', 'Affiliate Marketing', 'Local Advertising', 'Mobile Advertising', 'Native Advertising', 'Outdoor Advertising', 'SEM', 'Social Media Advertising', 'Video Advertising', 'Agriculture', 'AgTech', 'Animal Feed', 'Aquaculture', 'Equestrian', 'Farming', 'Forestry', 'Horticulture', 'Hydroponics', 'Livestock', 'App Discovery', 'Apps', 'Consumer Applications', 'Enterprise Applications', 'Mobile Apps', 'Reading Apps', 'Web Apps', 'Artificial Intelligence (AI)', 'Generative AI', 'Intelligent Systems', 'Machine Learning', 'Natural Language Processing', 'Predictive Analytics', 'Robotic Process Automation (RPA)', 'Bioinformatics', 'Biometrics', 'Biopharma', 'Biotechnology', 'Genetics', 'Life Science', 'Neuroscience', 'Quantified Self', 'Bitcoin', 'Blockchain', 'Cryptocurrency', 'Decentralized Finance (DeFi)', 'Ethereum', 'Non-Fungible Token (NFT)', 'Smart Contracts', 'Web3', 'Apparel', 'Fashion', 'Laundry and Dry-cleaning', 'Lingerie', 'Shoes', 'Auctions', 'Classifieds', 'Collectibles', 'Consumer Reviews', 'Coupons', 'E-Commerce', 'E-Commerce Platforms', 'Flash Sale', 'Gift', 'Gift Card', 'Gift Exchange', 'Gift Registry', 'Group Buying', 'Local Shopping', 'Made to Order', 'Marketplace', 'Office Supplies', 'Online Auctions', 'Personalization', 'Point of Sale', 'Price Comparison', 'Rental', 'Retail', 'Retail Technology', 'Secondhand Goods', 'Shopping', 'Shopping Mall', 'Social Shopping', 'Sporting Goods', 'Vending and Concessions', 'Virtual Goods', 'Wholesale', 'Adult', 'Baby', 'Cannabis', 'Children', 'Communities', 'Dating', 'Elderly', 'Family', 'Funerals', 'Humanitarian', 'Leisure', 'LGBT', 'Lifestyle', "Men's", 'Online Forums', 'Parenting', 'Pet', 'Private Social Networking', 'Professional Networking', 'Q&A', 'Religion', 'Retirement', 'Sex Industry', 'Sex Tech', 'Social', 'Social Entrepreneurship', 'Teenagers', 'Virtual World', 'Wedding', "Women's", 'Young Adults', 'Computer', 'Consumer Electronics', 'Drones', 'Electronics', 'Google Glass', 'Mobile Devices', 'Nintendo', 'Playstation', 'Roku', 'Smart Home', 'Wearables', 'Windows Phone', 'Xbox', 'Beauty', 'Card and Board Games', 'Cleaning Products', 'Comics', 'Consumer Goods', 'Cosmetics', 'DIY', 'Eyewear', 'Fast-Moving Consumer Goods', 'Flowers', 'Furniture', 'Green Consumer Goods', 'Handmade', 'Home Appliances', 'Jewelry', 'Personal Care and Hygiene', 'Tobacco', 'Toys', 'Blogging Platforms', 'Books', 'Content Delivery Network', 'Content Discovery', 'Content Syndication', 'Copywriting', 'Creative Agency', 'DRM', 'EBooks', 'Journalism', 'News', 'Photo Editing', 'Photo Sharing', 'Photography', 'Printing', 'Publishing', 'Social Bookmarking', 'Video Editing', 'Video Streaming', 'A/B Testing', 'Analytics', 'Application Performance Management', 'Big Data', 'Business Intelligence', 'Consumer Research', 'Data Collection and Labeling', 'Data Governance', 'Data Integration', 'Data Management', 'Data Mining', 'Data Visualization', 'Database', 'Facial Recognition', 'Geospatial', 'Image Recognition', 'Location Based Services', 'Market Research', 'Product Research', 'Speech Recognition', 'Test and Measurement', 'Text Analytics', 'Usability Testing', 'CAD', 'Graphic Design', 'Human Computer Interaction', 'Industrial Design', 'Interior Design', 'Mechanical Design', 'Product Design', 'UX Design', 'Web Design', 'Alumni', 'Charter Schools', 'Continuing Education', 'Corporate Training', 'E-Learning', 'EdTech', 'Education', 'Edutainment', 'Higher Education', 'Language Learning', 'MOOC', 'Music Education', 'Personal Development', 'Primary Education', 'Secondary Education', 'Skill Assessment', 'Special Education', 'STEM Education', 'Textbook', 'Training', 'Tutoring', 'Vocational Education', 'Battery', 'Biofuel', 'Biomass Energy', 'Clean Energy', 'Electrical Distribution', 'Energy', 'Energy Efficiency', 'Energy Management', 'Energy Storage', 'Fossil Fuels', 'Fuel', 'Fuel Cell', 'Geothermal Energy', 'Hydroelectric', 'Oil and Gas', 'Power Grid', 'Renewable Energy', 'Solar', 'Wind Energy', 'Concerts', 'Event Management', 'Event Promotion', 'Events', 'Nightclubs', 'Nightlife', 'Reservations', 'Ticketing', 'Accounting', 'Angel Investment', 'Asset Management', 'Auto Insurance', 'Banking', 'Bookkeeping and Payroll', 'Commercial Insurance', 'Commercial Lending', 'Consumer Lending', 'Credit', 'Credit Bureau', 'Credit Cards', 'Crowdfunding', 'Debit Cards', 'Finance', 'Financial Exchanges', 'Financial Services', 'FinTech', 'Foreign Exchange Trading', 'Fraud Detection', 'Funding Platform', 'Health Insurance', 'Hedge Funds', 'Impact Investing', 'Incubators', 'Insurance', 'InsurTech', 'Leasing', 'Lending', 'Life Insurance', 'Micro Lending', 'Mobile Payments', 'Payments', 'Personal Finance', 'Prediction Markets', 'Prepaid Cards', 'Property Insurance', 'Real Estate Investment', 'Stock Exchanges', 'Tax Consulting', 'Tax Preparation', 'Trading Platform', 'Transaction Processing', 'Venture Capital', 'Virtual Currency', 'Wealth Management', 'Alternative Protein', 'Bakery', 'Brewing', 'Catering', 'Coffee', 'Confectionery', 'Cooking', 'Craft Beer', 'Dairy', 'Dietary Supplements', 'Distillery', 'Farmers Market', 'Food and Beverage', 'Food Delivery', 'Food Processing', 'Food Trucks', 'Fruit', 'Grocery', 'Herbs and Spices', 'Meat and Poultry', 'Nutrition', 'Organic Food', 'Plant-Based Foods', 'Recipes', 'Restaurants', 'Seafood', 'Snack Food', 'Tea', 'Wine And Spirits', 'Winery', 'Casual Games', 'Console Games', 'Contests', 'Fantasy Sports', 'Gambling', 'Gamification', 'Gaming', 'MMO Games', 'Online Games', 'PC Games', 'Serious Games', 'Video Games', 'CivicTech', 'Government', 'GovTech', 'Law Enforcement', 'Military', 'National Security', 'Politics', 'Public Safety', 'Social Assistance', '3D Technology', 'Application Specific Integrated Circuit (ASIC)', 'Audio/Visual Equipment', 'Augmented Reality', 'Cloud Infrastructure', 'Communication Hardware', 'Communications Infrastructure', 'Computer Vision', 'Data Center', 'Data Center Automation', 'Data Storage', 'Drone Management', 'DSP', 'Electronic Design Automation (EDA)', 'Embedded Systems', 'Field-Programmable Gate Array (FPGA)', 'Flash Storage', 'GPS', 'GPU', 'Hardware', 'Laser', 'Lighting', 'Network Hardware', 'NFC', 'Optical Communication', 'Private Cloud', 'Remote Sensing', 'RFID', 'RISC', 'Robotics', 'Satellite Communication', 'Semiconductor', 'Sensor', 'Telecommunications', 'Video Conferencing', 'Virtual Reality', 'Virtualization', 'Wireless', 'Addiction Treatment', 'Alternative Medicine', 'Assisted Living', 'Assistive Technology', 'Child Care', 'Clinical Trials', 'Cosmetic Surgery', 'Dental', 'Diabetes', 'Elder Care', 'Electronic Health Record (EHR)', 'Emergency Medicine', 'Fertility', 'First Aid', 'Health Care', 'Health Diagnostics', 'Home Health Care', 'Hospital', 'Medical', 'Medical Device', 'Mental Health', 'mHealth', 'Nursing and Residential Care', 'Nutraceutical', 'Oncology', 'Outpatient Care', 'Personal Health', 'Pharmaceutical', 'Precision Medicine', 'Primary and Urgent Care', 'Psychology', 'Rehabilitation', 'Telehealth', 'Therapeutics', 'Veterinary', 'Wellness', 'Business Information Systems', 'Cloud Data Services', 'Cloud Management', 'Cloud Security', 'CMS', 'Contact Management', 'CRM', 'Cyber Security', 'DevOps', 'Document Management', 'E-Signature', 'Email', 'Identity Management', 'Information and Communications Technology (ICT)', 'Information Services', 'Information Technology', 'Intrusion Detection', 'IT Infrastructure', 'IT Management', 'Management Information Systems', 'Messaging', 'Network Security', 'Penetration Testing', 'Reputation', 'Sales Automation', 'Scheduling', 'Social CRM', 'Spam Filtering', 'Technical Support', 'Unified Communications', 'Video Chat', 'VoIP', 'Cloud Computing', 'Cloud Storage', 'Darknet', 'Domain Registrar', 'Ediscovery', 'Internet', 'Internet of Things', 'ISP', 'Music Streaming', 'Online Portals', 'Product Search', 'Search Engine', 'Semantic Search', 'Semantic Web', 'SEO', 'SMS', 'Social Media', 'Social Media Management', 'Social Network', 'Vertical Search', 'Visual Search', 'Web Browsers', 'Web Hosting', '3D Printing', 'Advanced Materials', 'Foundries', 'Industrial', 'Industrial Automation', 'Industrial Engineering', 'Industrial Manufacturing', 'Machinery Manufacturing', 'Manufacturing', 'Paper Manufacturing', 'Plastics and Rubber Manufacturing', 'Textiles', 'Wood Processing', 'Advice', 'Animation', 'Art', 'Audio', 'Audiobooks', 'Broadcasting', 'Celebrity', 'Content', 'Content Creators', 'Digital Entertainment', 'Digital Media', 'Film', 'Film Distribution', 'Film Production', 'Guides', 'In-Flight Entertainment', 'Independent Music', 'Internet Radio', 'Media and Entertainment', 'Metaverse', 'Motion Capture', 'Music', 'Music Label', 'Music Venues', 'Musical Instruments', 'Performing Arts', 'Podcast', 'Social News', 'Theatre', 'TV', 'TV Production', 'Video', 'Video on Demand', 'Meeting Software', 'Wired Telecommunications', 'Android', 'iOS', 'Mobile', 'Audio Recording and Production', 'Mineral', 'Mining', 'Mining Technology', 'Natural Resources', 'Precious Metals', 'Timber', 'Water', 'Indoor Positioning', 'Mapping Services', 'Navigation', 'Association', 'B2B', 'B2C', 'Charity', 'Collaboration', 'Collaborative Consumption', 'Commercial', 'Consumer', 'Crowdsourcing', 'Customer Service', 'Desktop Apps', 'Emerging Markets', 'Enterprise', 'Franchise', 'Freemium', 'Generation Y', 'Generation Z', 'Homeless Shelter', 'Infrastructure', 'LGBT Millennials', 'Non Profit', 'Peer to Peer', 'Professional Services', 'Real Time', 'Service Industry', 'Sharing Economy', 'Small and Medium Businesses', 'Social Impact', 'Subscription Service', 'Underserved Children', 'Universities', 'Billing', 'Facebook', 'Google', 'Linux', 'macOS', 'Operating Systems', 'Tizen', 'Twitter', 'WebOS', 'Windows', 'Corrections Facilities', 'Homeland Security', 'Privacy', 'Security', 'Advocacy', 'Business Development', 'Career Planning', 'Compliance', 'Consulting', 'Employment', 'Environmental Consulting', 'Field Support', 'Freelance', 'Innovation Management', 'Intellectual Property', 'Legal', 'Legal Tech', 'Management Consulting', 'Outsourcing', 'Quality Assurance', 'Recruiting', 'Risk Management', 'Social Recruiting', 'Translation Service', 'Architecture', 'Building Maintenance', 'Building Material', 'Commercial Real Estate', 'Construction', 'Coworking', 'Facility Management', 'Green Building', 'Heating', 'Ventilation', 'and Air Conditioning (HVAC)', 'Home and Garden', 'Home Decor', 'Home Improvement', 'Home Renovation', 'Home Services', 'Janitorial Service', 'Landscaping', 'Mortgage', 'Property Development', 'Property Management', 'PropTech', 'Real Estate', 'Real Estate Brokerage', 'Rental Property', 'Residential', 'Self-Storage', 'Smart Building', 'Smart Cities', 'Timeshare', 'Vacation Rental', 'App Marketing', 'Brand Marketing', 'Cause Marketing', 'Content Marketing', 'Digital Marketing', 'Digital Signage', 'Direct Marketing', 'Direct Sales', 'Email Marketing', 'Lead Generation', 'Lead Management', 'Local', 'Local Business', 'Loyalty Programs', 'Marketing', 'Marketing Automation', 'Multi-level Marketing', 'Personal Branding', 'Public Relations', 'Sales', 'Sales Enablement', 'Social Media Marketing', 'Sponsorship', 'Aerospace', 'Chemical', 'Chemical Engineering', 'Civil Engineering', 'Environmental Engineering', 'Marine Technology', 'Mechanical Engineering', 'Nanotechnology', 'Nuclear', 'Quantum Computing', 'Software Engineering', 'Browser Extensions', 'Business Process Automation (BPA)', 'Chatbot', 'Consumer Software', 'Developer APIs', 'Developer Platform', 'Developer Tools', 'Embedded Software', 'Enterprise Resource Planning (ERP)', 'Enterprise Software', 'File Sharing', 'IaaS', 'Open Source', 'PaaS', 'Presentation Software', 'Presentations', 'Productivity Tools', 'QR Codes', 'SaaS', 'Simulation', 'SNS', 'Software', 'Task Management', 'Virtual Assistant', 'Virtual Desktop', 'Web Development', 'American Football', 'Baseball', 'Basketball', 'Boating', 'Cricket', 'Cycling', 'Diving', 'eSports', 'Fitness', 'Golf', 'Hockey', 'Hunting', 'Motorsports', 'Outdoors', 'Racing', 'Recreation', 'Rugby', 'Sailing', 'Skiing', 'Soccer', 'Sports', 'Sports Leagues and Teams', 'Surfing', 'Swimming', 'Table Tennis', 'Tennis', 'Ultimate Frisbee', 'Volley Ball', 'Carbon Capture', 'CleanTech', 'GreenTech', 'Organic', 'Pollution Control', 'Recycling', 'Sustainability', 'Waste Management', 'Water Purification', 'Wildlife Conservation', 'Air Transportation', 'Automotive', 'Autonomous Vehicles', 'Car Sharing', 'Charging Infrastructure', 'Delivery Service', 'Electric Vehicle', 'Ferry Service', 'Fleet Management', 'Freight Service', 'Last Mile Transportation', 'Limousine Service', 'Logistics', 'Marine Transportation', 'Parking', 'Ports and Harbors', 'Procurement', 'Public Transportation', 'Railroad', 'Recreational Vehicles', 'Ride Sharing', 'Same Day Delivery', 'Shipping', 'Shipping Broker', 'Space Travel', 'Supply Chain Management', 'Taxi Service', 'Transportation', 'Warehouse Automation', 'Warehousing', 'Water Transportation', 'Adventure Travel', 'Amusement Park and Arcade', 'Business Travel', 'Casino', 'Hospitality', 'Hotel', 'Museums and Historical Sites', 'Parks', 'Resorts', 'Tour Operator', 'Tourism', 'Travel', 'Travel Accommodations', 'Travel Agency']
          example: ["Aerospace", "GreenTech", "Information Technology"]
        specialties:
          type: array
          description: Company specialties
          items:
            type: string
          example: ["Precision Testing", "Aerospace Solutions"]
        keywords:
          type: array
          description: Keywords associated with the company's operations
          items:
            type: string
          example: ["cable fault isolation", "tdr", "comint"]
        technologies:
          type: array
          description: Technologies used by the company
          items:
            type: string
          example: ["Python", "Machine Learning", "Cloud Computing"]
        founded_in:
          type: integer
          description: The year the company was founded
          example: 1992
[...]
